.body{
    margin: 0;
    padding: 0;
}
.grid-container{
    width: 300px;
    height: 300px;
    margin:auto;
    border-radius: 5px;
    border: 1px solid #000;
    display: grid;
    grid-template: repeat(5,50px)/repeat(5,50px);
    grid-gap:2px 2px;
    align-content: center;
    justify-content: center;
    background: #d0d3d8;
}
.grid-item{
   justify-self: center;
   align-self: center;
}
.box{
    border-radius: 5px;
    background: tomato;
    width:45px;
    height:40px;
}